body {
  font-family: 'Quicksand', sans-serif;
}

.intro-bg {
  background-image: url(../img/andrea-davis-7450hH--84M-unsplash.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 550px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  font-weight: 500;
}

h1 {
  font-weight: 700;
  line-height: 1.3;
}

.logo {
  font-size: 1.2em;
  font-weight: 700;
}

.text-purple {
  color: #a052d9;
}

h1 span {
  /* color: #a052d9; */
  text-decoration: underline;
  text-decoration-color: #fdd831;
}

.search {
  background: #a052d9;
  font-weight: 700;
}

i {
  color: #a052d9;
}
